.center {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .center > h2 {
        font-size: 4vw;
    }
}