.screenshot-card {
    max-width: 400px;
    background-color: var(--accent-color);
    padding-bottom: 0;
    border-radius: 20px;
}

.tile {
    display: flex;
    flex-flow: column wrap;
}

.image {
    width: 250px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}