.center {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.title {
    color: var(--accent-color);
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .center {
        gap: 0.5rem;
    }
}