.center {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.title {
    color: var(--accent-color);
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 5vw;
    }

    .center {
        gap: 0.5rem;
    }
}