<div class="center">
    <h1 i18n id={{privacyPolicyId}} class="title">Privacy policy</h1>
    <section>
        <h2 i18n>What information we collect</h2>
        <p i18n>
            We collect information that help us improve the app's stability, such as errors and crashes. <br>
            We also collect the phone model, country and the Android version.
        </p>
        <h2 i18n>How we use information we collect</h2>
        <p i18n>
            We collect information to help mitigate crashes and errors so that the user experience is in line with our goals <br>
        </p>
        <h2 i18n>Opt-out of data collection</h2>
        <p i18n>
            You can opt-out of data collection by disabling this option in the app's settings.
        </p>
    </section>
</div>