<section class="center">
    <mat-card class="github-card">
        <mat-card-header>
            <div mat-card-avatar class="github-header-image"></div>
            <mat-card-title>Github</mat-card-title>
            <mat-card-subtitle >View the app source code</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <a mat-button href="https://github.com/MarcosMartini765/DartPlayer" target="_blank">Take a look</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="github-card">
        <mat-card-header>
            <div mat-card-avatar class="play-store-header-image"></div>
            <mat-card-title>Play Store</mat-card-title>
            <mat-card-subtitle >Available for Android</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <a mat-button disabled="" href="https://github.com/MarcosMartini765/DartPlayer" target="_blank">Coming soom</a>
        </mat-card-actions>
    </mat-card>
</section>