.center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.github-card {
    width: 40%;
    background-color: var(--accent-color);
}

.github-header-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/dartplayer-94fe5.appspot.com/o/Sample%2Flogotipo-do-github.webp?alt=media');
    background-size: cover;
    filter: invert(100%);
}

.play-store-header-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/dartplayer-94fe5.appspot.com/o/Sample%2Fplay-store.webp?alt=media');
    background-size: cover;
    filter: invert(100%);
}

@media only screen and (max-width: 800px) {
    .github-card {
        width: 100%;
    }

    .center {
        gap: 0.5rem;
    }
}

