<section class="center">
    <mat-card class="github-card">
        <mat-card-header>
            <div mat-card-avatar class="github-header-image"></div>
            <mat-card-title>Github</mat-card-title>
            <mat-card-subtitle>View the app source code</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <a mat-button href="https://github.com/MarcosMartini765/DartPlayer" target="_blank">Take a look</a>
        </mat-card-actions>
    </mat-card>
    <a  
        class="play-store-link"
        href='https://play.google.com/store/apps/details?id=com.martini.dartplayer&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        <img
            class="image"
            alt='Get it on Google Play'
            src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' width="145%" height="auto" 
        />
    </a>
</section>