.center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    min-width: 30%;
    margin: auto;
    flex-wrap: wrap;
    gap: 1rem;
}

.github-card {
    width: 40%;
    background-color: var(--accent-color);
}

.github-header-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/dartplayer-94fe5.appspot.com/o/Sample%2Flogotipo-do-github.png?alt=media');
    background-size: cover;
    filter: invert(100%);
}

.play-store-header-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/dartplayer-94fe5.appspot.com/o/Sample%2Fplay-store.png?alt=media');
    background-size: cover;
    filter: invert(100%);
}

@media only screen and (max-width: 600px) {
    .center {
      max-width: 80%;
    }

}

@media only screen and (max-width: 800px) {
    .github-card {
        width: 80%;
    }
}

