<section class="center">
    <h1 class="title">Screenshots</h1>
    <div class="images">
        <app-image-tile
            src="https://firebasestorage.googleapis.com/v0/b/dartplayer-94fe5.appspot.com/o/Sample%2Fdashboard.png?alt=media"
            alt="Dashboard"></app-image-tile>
        <app-image-tile
            src="https://firebasestorage.googleapis.com/v0/b/dartplayer-94fe5.appspot.com/o/Sample%2Fdark.png?alt=media"
            alt="Dark"></app-image-tile>

        <app-image-tile
            src="https://firebasestorage.googleapis.com/v0/b/dartplayer-94fe5.appspot.com/o/Sample%2Flight.png?alt=media"
            alt="Light"></app-image-tile>

    </div>
</section>