.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 1rem;
}

.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}

.title {
    color: var(--accent-color);
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .images {
        gap: 2rem;
        justify-content: center;
    }
}