.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}


.title {
    color: var(--accent-color);
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {
    .title {
      font-size: 5vw;
    }
}