<section class="center">
    <h1 class="title">Screenshots</h1>
    <div class="images">
        <app-image-tile
            [src]="dashboardPhotoUrl"
            alt="Dashboard"
            subtitle="Initial screen"
            ></app-image-tile>
        <app-image-tile
            src={{darkPhotoUrl}}
            alt="Dark"
            subtitle="Dark mode"
            ></app-image-tile>

        <app-image-tile
            src={{lightPhotoUrl}}
            alt="Light"
            subtitle="Light mode"
            ></app-image-tile>
    </div>
</section>