<section class="center">
    <h1 i18n class="title">Screenshots</h1>
    <div class="images">
        <app-image-tile
            src={{dashboardPhotoUrl}}
            i18n-alt
            alt="Dashboard"
            i18n-subtitle
            subtitle="Initial screen"
            ></app-image-tile>
        <app-image-tile
            src={{darkPhotoUrl}}
            alt="Dark"
            i18n-alt
            i18n-subtitle
            subtitle="Dark mode"
            ></app-image-tile>

        <app-image-tile
            src={{lightPhotoUrl}}
            alt="Light"
            i18n-alt
            i18n-subtitle
            subtitle="Light mode"
            ></app-image-tile>
    </div>
</section>